<?xml version="1.0" encoding="utf-8" ?>
<nlog xmlns="http://www.nlog-project.org/schemas/NLog.xsd"
      xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance">

	<targets>
		<target xsi:type="File" name="fileAll" fileName="${basedir}/logs/all_${shortdate}.log"
				layout="${longdate} ${level} ${message} ${exception:format=ToString}" />

		<target xsi:type="File" name="fileErrors" fileName="${basedir}/logs/errors_${shortdate}.log"
				layout="${longdate} ${level} ${message} ${exception:format=ToString}" />

		<target xsi:type="ColoredConsole" name="consoleTarget"
				layout="[${longdate}] [${level}] ${message} ${exception:format=ToString}" />
	</targets>

	<rules>
		<!-- Specific rule for Microsoft.EntityFrameworkCore.Database.Command: Warning level and above -->
		<logger name="Microsoft.EntityFrameworkCore.Database.Command" manlevel="Info" final="true" />
		
		<!-- General rule: Logs Info level and above to file and console -->
		<logger name="*" minlevel="Info" writeTo="fileAll,consoleTarget" />

		<!-- Error rule: Logs Error level and above to error file -->
		<logger name="*" minlevel="Error" writeTo="fileErrors" />
	</rules>

</nlog>
