<?xml version="1.0" encoding="utf-8" ?>
<nlog xmlns="http://www.nlog-project.org/schemas/NLog.xsd"
      xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance">

	<targets>
		<target name="debug" xsi:type="File" fileName="${basedir}/logs/Debug_${shortdate}.log"
						layout="${longdate} ${level} ${message} ${exception:format=ToString}" />
		
		<target name="main" xsi:type="File" fileName="${basedir}/logs/Main_${shortdate}.log"
				layout="${longdate} ${level} ${message} ${exception:format=ToString}" />

		<target name="exception" xsi:type="File" fileName="${basedir}/logs/Exception_${shortdate}.log"
				layout="${longdate} ${level} ${message} ${exception:format=ToString}" />

		<target name="console" xsi:type="ColoredConsole"
				layout="[${longdate}] [${level}] ${message} ${exception:format=ToString}" />
		
	</targets>

	<rules>
		<logger name="Microsoft.EntityFrameworkCore.Database.Command" maxlevel="Warn" final="true" />

		<logger name="*" minlevel="Debug" writeTo="debug" />

		<logger name="*" minlevel="Info" writeTo="main,console" />

		<logger name="*" minlevel="Error" writeTo="exception" />
	</rules>

</nlog>
